html {
	height: 100%;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
	height: 100%;
	margin: 0;
}

.container {
	padding: 0;
	margin-top: 40px;
	min-height: 100%;
	padding-bottom: 50px;
}

footer {
	margin-top: -50px;
	height: 50px;
	width: 100%;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}